.App-header {
  background-color: #282c34;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  color: antiquewhite;
  padding: 40px;
}

.Todos-Container {
  padding: 30px;
  height: 150px;
  width: 150px;
  margin: 50px;
  margin-left: 110px;
  background: rgb(228, 228, 111);
  float: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  text-align: center;
  color: black;
}

.done {
  text-decoration: line-through
}

.toggleButton {
  color: bisque;
  background-color: lightslategray;
}

.CreateTodo {
  background: black;
  color: antiquewhite;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 20px;
  align-items: center;
  
}

.EditButton {
  background-color: aqua;
  padding: 8px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: medium;
}
