.App {
  color: antiquewhite;
  background-color: black;
}

.App-header {
  background-color: #282c34;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: antiquewhite;
  padding: 20px;
}

.Todos-Container {
  padding: 20px;
  height: 150px;
  width: 150px;
  margin: 30px;
  background: lightyellow;
  float: left;
  font-size: 20px;
  text-align: center;
  color: black;
}

.done {
  text-decoration: line-through
}
