.App-header {
  background-color: #282c34;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  color: antiquewhite;
  padding: 40px;
}

.Todos-Container {
  padding: 20px;
  height: 150px;
  width: 150px;
  margin: 30px;
  margin-top: 100px;
  background: rgb(228, 228, 111);
  float: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  text-align: center;
  color: black;
}

.done {
  text-decoration: line-through
}

.toggleButton {
  color: bisque;
  background-color: lightslategray;
}

.createTodo {
  background: rgb(108, 92, 117);
  color: rgb(29, 28, 28);
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  padding:10px;
  float: left;
}
